* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 113px;
    height: 52px;
    border-radius: 6px;
    background: var(--secondary-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}
.btn:hover {
    opacity: 0.8;
}
