:root {
    --primary-color: #7264d6;
    --secondary-color: #212832;
    --desc-color: #696d76;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
/* Common */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 113px;
    height: 52px;
    border-radius: 6px;
    background: var(--secondary-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}
.btn:hover {
    opacity: 0.8;
}
.section__sub-heading {
    margin-left: 30px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 175% */
    position: relative;
}
.section__sub-heading::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: var(--desc-color);
    position: absolute;
    left: -30px;
    top: 50%;
}
.section__heading-h2 {
    color: var(--secondary-color);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 125% */
}
.section__heading-h3 {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%; /* 166.667% */
}
.section__desc-h2 {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%; /* 166.667% */
}
/* Header */
.header {
    padding-top: 42px;
    position: sticky;
    top: -20px;
    z-index: 1;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__list {
    margin-left: 70px;
    display: flex;
}
.header__link {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 175% */
    padding: 8px 24px;
}
.header__link:hover,
.header-btn__in:hover {
    color: var(--heading-color);
    text-shadow: 1px 0 currentColor;
}
.header__active {
    color: var(--heading-color);
    text-shadow: 1px 0 currentColor;
    position: relative;
}
.header__active::before {
    display: inline-block;
    content: "";
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 24px;
}
.header__act {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header-btn__in {
    padding: 8px 28px;
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%; /* 175% */
}
/* Hero */
.hero {
    margin-top: 76px;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__heading {
    width: 500px;
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116.667%; /* 116.667% */
}
.hero__heading strong {
    color: var(--primary-color);
}
.hero__desc {
    margin-top: 20px;
    width: 540px;
}
.hero__form {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}
.hero__form-input {
    padding: 23px;
    width: 100%;
    border: none;
    outline: none;
}
.hero__submit {
    min-width: 149px;
    height: 58px;
    border-radius: 8px;
    background: var(--primary-color);
    cursor: pointer;
}
.hero-form__desc {
    margin-top: 20px;
    color: var(--desc-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 171.429%; /* 171.429% */
}
.hero__media {
    width: calc(470 / 1170 * 100%);
    position: relative;
}
.hero-interest {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 127px;
}
.hero__quantity {
    color: #fff;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
}
.hero-interest__text {
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}
.hero-secured {
    padding: 20px 14px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    position: absolute;
    right: 100px;
    bottom: 61px;
    display: flex;
    gap: 11px;
    color: #fff;
}
.hero-secured__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hero-secured__price {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.hero-secured__text {
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.hero-deposit {
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 113px;
    left: -100px;
    padding: 14px 10px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}
.hero-deposit__text {
    margin-left: 8px;
    color: #31456a;
    font-style: normal;
    font-weight: 600;
}
.hero-deposit__cash {
    margin-left: 19px;
    color: #4ab5e3;
    font-style: normal;
    font-weight: 400;
}
/* Work */
.work {
    padding: 160px 0;
}
.work__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work__img-bg {
    width: 470px;
    height: 619px;
    position: relative;
    padding: 0 7px;
}
.work__img-bg::after {
    content: url(../img/work/bg.svg);
    position: absolute;
    left: 0;
    bottom: -3px;
    z-index: -1;
}
.work__img {
    max-width: 100%;
    max-height: 100%;
}
.work__card {
    position: absolute;
    right: 62px;
    top: 76px;
}
.work__active {
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    right: -100px;
    bottom: 96px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.work__active-content {
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.active-content__title {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 600;
}
.active-content__desc {
    color: var(--desc-color);
    font-size: 1.2rem;
    font-weight: 400;
}
.work-content {
    width: calc(470 / 1170 * 100%);
}
.work__heading {
    margin-top: 12px;
    margin-bottom: 70px;
}
.work__heading-h3 {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 32px; /* 145.455% */
    width: 470px;
    margin-top: 30px;
}
.work__desc-h3 {
    margin-top: 16px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
